*{
    color:rgb(255, 255, 255);
    font-family: Poppins, sans-serif ;
    text-decoration: none;
    /* background-color: black; */
}
body{
    overflow-x: hidden;
    background: linear-gradient(135deg, #000000 10%, #2c3261 100%);
    /* background:url(../public/back1.png) center/cover no-repeat ; */
}
#payment{
    cursor: pointer;
}

#main{
    align-items: center;
    width:90vw;
    display:flex;
    
    background-color: rgb(0, 0, 0);
}

img{
    background-color: inherit;
}
#main_1{
    display: flex;
    height:70vh;
    align-items: center;
    padding:1px 10vw;
}

#section1{
    background-color:rgba(22, 22, 22, 0.6);
    display:flex;
    align-items: center;
    max-width: min(50vw,600px);
    justify-content: space-around;
    border-radius: 10px;
}

input{
    padding:3px;
    margin:1px;
    border-radius: 3px;
    border:1px solid white;
    width:auto;
    height:30px;
    &:focus{
        color:black;
        background-color: rgb(255, 255, 255);
        border:1px solid white;
    }
}
textarea{
    color:black;
    border: 1px solid white;
    border-radius: 3px;
    padding:10px;
}
textarea:focus{
    color:black;
    background-color:rgba(71, 70, 70, 0.6);
}
#Submit{
    background-color: rgb(42, 40, 40);
    border-radius: 6px;
    padding: 10px;
    border:1px solid rgb(99, 95, 95);
    &:hover{
        /* color:black; */
        background-color: hsla(240, 1%, 41%, 0.3);
        cursor:pointer;
    }
}

#section2{
    width:max(300px,25vw);
    font-size: x-small;
    right:-200px;
    /* transform: translateX(190px); */
    text-align: center;
    position:absolute;
    z-index: 1;
    background-color: hsla(240, 1%, 41%, 0.3);
    opacity: 0.8;
    h,h1,p{
        background-color: hsla(240, 1%, 41%, 0);
    }
    
    transition-duration: 1s;
    &:hover{
        background-color: hsla(0, 0%, 0%, 0.8);
        border:1px solid white;
        transform: translateX(-190px);
        cursor: pointer;
    }
}
@media (max-width:550px) {
    img{
        height:0px;
        width:0px;
    }
    #main{
        flex-direction:column-reverse;
    }
    #section2{
        transform: scale(0.6);
        right:-27vw;
    }
}

footer{
    background-color: rgb(26, 26, 26);
    margin:10vh -8px -8px -8px;
    padding:5%;
    display: flex;
    justify-content: space-around;
    gap:10px;
}

.gradient-text {
    background: linear-gradient(90deg, rgba(0,240,255,1) 0%, rgba(255,0,255,1) 100%);
    -webkit-background-clip: text;
    color: transparent;
    font-weight: bold;
    font-size: 1.3rem;
}
